<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple To-Do List</title>
    

    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <script src="https://kit.fontawesome.com/ca927cd34f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div><img class="image" src="images/Juvinus.png" alt="not found"><a class="link-select contact" href="/contact">Contact Us</a></div>
    <div class="main-links">
        <!-- <form action="/" method="POST">
    
        
            <button type="submit" name = "home" value = "/">Home</button>
    
            <button type="submit" name="work" value = "/work">Work</button>
    
        </form> -->
        <a class="link-select" href="/"><button class="link-button">Home</button></a>
        <a class="link-select" href="/work"><button class="link-button">Work</button></a>
        
    </div>


 